<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row container">
            <div class="col-md-1">

                <app-user-sidebar></app-user-sidebar>
            </div>
            <div class="col-md-5 container margintop">
                <button class="btn" mat-stroked-button (click)="healthdashboardcots()" color="accent">
                    <mat-icon>analytics</mat-icon>
                    <!-- <mat-icon>pie_chart</mat-icon> -->
                    <!-- <div class="text-center"><img src="../../../.././assets/Vodafone-Idea-Logo.jpg" width="150" height="55"></div> -->
                    <!-- <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> -->
                    <!-- <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laudantium, cupiditate harum labore quas dolorum reiciendis labore quas dolorum  </div> -->
                    <div>HealthDashboardCots</div>
                </button>
            </div>

            <!-- <div class="col-md-5 container margintop">
                <td>
                    <div class="example-button-container">
                        <button (click)="healthdashboardcots()" mat-fab color="accent"
                            aria-label="Example icon button with a delete icon">
                            <mat-list>
                                
                                    <mat-icon>factory</mat-icon>
                                    <div>HealthDashboardCots</div>
                                
                                <mat-list-item><mat-icon>factory</mat-icon><div>HealthDashboardCots</div></mat-list-item>

                            </mat-list>
                            <mat-icon>factory</mat-icon>
                        </button>
                    </div>
                </td>
                <button (click)="healthdashboardcots()" mat-stroked-button color="primary">
                    <div>HealthDashboardCots</div>
                </button>
            </div> -->
            <div class="col-md-5 container margintop">
                <!-- <button (click)="healthdashboardinfra()" mat-flat-button color="primary"> -->
                <button class="btn" mat-stroked-button (click)="healthdashboardinfra()" color="warn">
                    <mat-icon>analytics</mat-icon>
                    <div>HealthDashboardInfra</div>

                </button>
            </div>
            <div class="col-md-5 container margintop">
                <button class="btn" mat-stroked-button (click)="healthdashboardportal()"  color="primary">
                    <mat-icon>analytics</mat-icon>
                    <div>HealthDashboardPortal</div>
                </button>
            </div>
            <div class="col-md-5 container margintop">
                <button class="btn" mat-stroked-button (click)="healthdashboardoem()"  color="accent">
                    <mat-icon>analytics</mat-icon>
                    <div>HealthDashboardAppOem</div>

                </button>
            </div>
            <div class="col-md-5 container margintop">
                <button class="btn" mat-stroked-button (click)="upcomingrenewal()"  color="blue">
                    <mat-icon>analytics</mat-icon>
                    <div>UpComingRenewal</div>

                </button>
            </div>



        </div>
    </div>
</div>