/* You can add global styles to this file, and also import other style files */

html, body{  height: 113%; background-color: rgba(156, 150, 150, 0.322);
    
}
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.formlogin{

    padding-top: 30px;
    /* border-image: url(assets/border.jpg) 30% stretch; */
    border-radius: 10px;
    /* margin-top: 20px; */
    background-color: white;
    /* margin-bottom: 5px; */
    padding-bottom: 30px;
}
.fornt{
    font-size: 14px;
}

.colorred{

    background-color: rgb(238, 124, 124);;

}
.colorambarg{

    background-color: rgb(240, 240, 159);

}

.colorgreen{

    background-color: greenyellow;

}